{
	"printWidth": 1000,
	"tabWidth": 4,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "css",
	"bracketSameLine": true,
	"proseWrap": "never",
	"singleAttributePerLine": false,
	"plugins": ["@prettier/plugin-php"],
	"phpVersion": "8.2"
}
