{
	"printWidth": 1000,
	"tabWidth": 4,
	"useTabs": true,
	"htmlWhitespaceSensitivity": "ignore",
	"bracketSameLine": true,
	"proseWrap": "never",
	"singleAttributePerLine": false,
	"plugins": ["@prettier/plugin-php"],
	"phpVersion": "8.2",
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"bracketSameLine": true,
				"htmlWhitespaceSensitivity": "ignore"
			}
		}
	]
}
