@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=DynaPuff:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playpen+Sans+Deva:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Playpen+Sans+Deva:wght@100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
* {
  height: auto;
  width: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}
::selection {
  background-color: rgb(137, 137, 241);
  color: white;
}
body {
  font-size: 0;
}
@keyframes gradientFlow {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}
@keyframes bdrdan {
  0% {
    --angle: 0deg;
  }
  100% {
    --angle: 360deg;
  }
}
@keyframes gradientShiftLogin {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientShiftRegister {
  0% {
    background-position: 100% 50%;
  }
  50% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5vw);
  }
}
@keyframes float-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes float2 {
  0% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
  25% {
    transform: translateY(0.9375vw) scale(1.075) rotate(-1.5deg);
  }
  50% {
    transform: translateY(1.5vw) scale(1.15) rotate(1.875deg);
  }
  75% {
    transform: translateY(0.9375vw) scale(1.09) rotate(-1.125deg);
  }
  100% {
    transform: translateY(0) scale(1) rotate(0deg);
  }
}
@keyframes animated-text {
  100% {
    text-shadow: 0 0 0.125vw yellow;
  }
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(3.5vw);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes head-underline {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes invisible {
  from {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}
*::-webkit-scrollbar {
  display: none;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  scroll-padding-top: 5vw;
}
img {
  height: auto !important;
}
strong {
  font-weight: bold;
}
body {
  background-color: #fff;
}
nav {
  position: fixed;
  top: 0;
  background-color: lavenderblush;
  height: 5vw;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3vw;
  box-shadow: 0 0.25vw 1vw rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.logo {
  width: 5vw;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  gap: 2vw;
}
.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.5vw;
  position: relative;
  transition: all 0.3s linear;
}
.nav-btn {
  width: 7vw;
  height: 3vw;
  position: relative;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    rgb(0, 212, 255),
    rgb(9, 132, 227),
    rgb(163, 0, 255),
    rgb(255, 0, 191)
  );
  background-size: 200% 100%;
  background-position: 0% 0%;
  border-radius: 0 1.5vw;
  font-size: 1.5vw;
  transition: all 0.5s linear;
}
.nav-btn a {
  text-decoration: none;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-btn:hover {
  animation: gradientFlow 1.2s infinite alternate linear;
  box-shadow: 0 0.3vw 0.8vw rgba(79, 170, 255, 0.9);
  transform: scale(1.05);
}
.nav-link:hover {
  color: #0000ee;
}
.nav-link::after {
  background-color: #0000ee;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0.25vw;
  bottom: -0.5vw;
  left: 0;
  transition: all 0.3s linear;
}
.nav-link:hover::after {
  width: 100%;
}
.hamburger {
  display: none;
}
section {
  width: 100vw;
  height: calc(100vh - 5vw);
  animation: invisible 0.675s linear;
}
#home,
.floating-icons {
  height: calc(100vh - 5vw);
  margin-top: 5vw !important;
}
#home {
  width: 60vw;
  margin: 0 auto;
  background-color: transparent;
  position: relative;
}
.head-text {
  padding-top: 5vw;
  font-size: 4vw;
  font-weight: bold;
}
.head-underline {
  font-weight: bold;
  position: relative;
}
.head-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.3vw;
  bottom: 0;
  left: 0;
  background-color: orangered;
  animation: head-underline 0.675s linear !important;
}
.head-subtext {
  padding-top: 2vw;
  font-size: 2vw;
  width: 45vw;
  animation: fadeInUp 0.675s linear;
}
.floating-icons {
  position: absolute;
  z-index: -1;
  top: -5vw;
  left: -20vw;
  width: 100vw;
  background-color: aliceblue;
}
.floating-icons span {
  position: absolute;
  font-size: 2vw;
  opacity: 0.5;
  animation: float 6s infinite alternate linear;
}
.floating-icons span:nth-child(1) {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}
.floating-icons span:nth-child(2) {
  top: 30%;
  left: 85%;
  animation-delay: 2s;
}
.floating-icons span:nth-child(3) {
  top: 75%;
  left: 25%;
  animation-delay: 1s;
}
.floating-icons span:nth-child(4) {
  top: 80%;
  left: 85%;
  animation-delay: 3s;
}
.floating-icons span:nth-child(5) {
  top: 55%;
  left: 80%;
  animation-delay: 2.6443333223s;
}
.floating-icons span:nth-child(6) {
  top: 85%;
  left: 10%;
  animation-delay: 2.2s;
}
.floating-icons span:nth-child(7) {
  top: 85%;
  left: 55%;
  animation-delay: 3.69s;
}
.floating-icons span:nth-child(8) {
  top: 30%;
  left: 50%;
  animation-delay: 4.8s;
}
#courses,
#contact-us {
  width: 100vw;
  height: calc(100vh - 5vw);
}
#about-us {
  position: relative;
  overflow: hidden;
  color: #333;
  background-color: #f5f7fa;
}
.about-content {
  position: relative;
  color: #333;
  z-index: 1;
  padding: 0 20vw;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: transparent;
}
.about-content,
.about-h1 {
  padding-bottom: 2.5vw;
  font-size: 3.98999999999999999999999999999999999999999999999999999999999999999999988888888888888888888vw;
  font-family: "DynaPuff", system-ui;
  font-weight: bold;
  color: #797979;
}
.about-content p {
  font-size: 1.5vw;
  line-height: 2.5vw;
}
.animated-text {
  font-size: 1.5vw;
  padding-block: 2vw;
}
.animated-link {
  text-decoration: none;
  background: linear-gradient(to left, darkblue, hotpink, rgb(194, 55, 55));
  background-clip: text;
  -webkit-background-clip: text;
  text-shadow: 0 0 2vw lightgreen;
  animation: animated-text 0.75s infinite alternate;
}
.floating-shapes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.shape {
  position: absolute;
  background-color: rgba(0, 123, 255, 0.1);
  border-radius: 100vw;
  animation: float2 5s infinite alternate linear;
}
.shape1 {
  top: 20%;
  left: 10%;
  width: 5vw;
  height: 5vw;
  animation-delay: 0s;
}
.shape2 {
  top: 50%;
  left: 70%;
  width: 10vw;
  height: 10vw;
  animation-delay: 2s;
}
.shape3 {
  top: 60%;
  left: 30%;
  width: 7.5vw;
  height: 7.5vw;
  animation-delay: 4s;
}
.log {
  margin-top: 5vw !important;
}
.float-in {
  animation: float-in 0.5s linear;
}
.grades {
  margin-top: 5vw;
  height: fit-content;
}
.header {
  background-image:
    linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url("school\ img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header h1 {
  color: white;
  font-size: 5vw;
  font-family: "DynaPuff", system-ui;
}
.grades-text {
  margin-inline: 10%;
  padding-block: 3vw;
}
.grades-text h1 {
  color: #333;
  font-size: 3vw;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
.sub-heading {
  font-size: 2vw;
  font-family: "Comic Relief", system-ui;
  font-weight: 700;
  font-style: normal;
}
.sub-topics {
  font-size: 1.5vw;
  font-family: monospace;
}
.grades-text ul li {
  text-decoration: none;
  list-style-type: none;
  margin-left: 3%;
}
.heading-sst {
  font-size: 2.46vw;
  color: #111;
  font-family: "Comic Relief", system-ui;
  margin-block: 1vw;
  margin-left: 1.5vw;
}
.grades-text a {
  text-decoration: none;
  color: #007bff;
  transition: 0.3s ease-in-out;
}
.grades-text a:hover {
  transition: all 0.5s;
  color: #0000fbf0;
}
.tern-footer {
  background-color: #111;
  color: #fff;
  padding: 1.5vw 1.8vw;
  animation: fadeInUp 1.2s ease-out;
  border-top: 0.29vw solid transparent;
  transition: border 0.4s ease-in-out;
}
.tern-footer:hover {
  border-top: 0.32vw solid #4faaff;
}
.footer-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 5vw;
  align-items: center;
}
.footer-column {
  animation: fadeInUp 0.8s ease forwards;
  width: 12vw;
}
.logo-quote-col {
  width: 21vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-logo {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 1.25vw;
}
.footer-logo img {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  transition: transform 0.4s ease;
}
.footer-logo img:hover {
  transform: scale(1.1) rotate(360deg);
}
.footer-logo span {
  font-size: 1.5em;
  font-weight: bold;
  transition: color 0.3s;
}
.footer-logo span:hover {
  color: #4faaff;
}
.footer-quote {
  font-style: italic;
  font-size: 0.95em;
  color: #ccc;
  text-align: center;
  margin-bottom: 2vw;
  transition: opacity 0.5s;
}
.footer-quote:hover {
  opacity: 0.9;
}
.footer-buttons {
  display: flex;
  gap: 1.8vw;
}
.btn-gradient {
  padding: 1vw 2.9vw;
  border-radius: 2.7vw;
  font-weight: 350;
  color: ghostwhite;
  cursor: pointer;
  text-decoration: none;
  background-size: 300% 300%;
  box-shadow: 0 0.29vw 1.3vw rgba(79, 170, 255, 0.6);
  transition: all 0.3s ease;
  user-select: none;
}
.btn-gradient:hover {
  transform: scale(1.1);
  box-shadow: 0 0.6vw 1.6vw rgba(79, 170, 255, 0.9);
}
.login-btn {
  background: linear-gradient(45deg, #1d4ed8, #3b82f6, #60a5fa);
  box-shadow: 0 0.29vw 1.29999999vw rgba(29, 78, 216, 0.6);
  animation: gradientShiftLogin 4s ease infinite;
}
.register-btn {
  background: linear-gradient(45deg, #10b981, #34d399, #6ee7b7);
  box-shadow: 0 0.29vw 1.31vw rgba(16, 185, 129, 0.6);
  animation: gradientShiftRegister 4s ease infinite;
}
.footer-column h3 {
  margin-bottom: 1.31vw;
  font-size: 1.2em;
  color: #eee;
  position: relative;
}
.footer-column h3::after {
  content: "";
  width: 2.8vw;
  height: 0.15vw;
  background-color: #4faaff;
  display: block;
  margin-top: 0.48vw;
  border-radius: 0.2973579347947932vw;
}
.footer-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-column ul li {
  margin-block: 1vw;
  opacity: 0;
  transform: translateY(0.81vw);
  animation: fadeInUp 0.5s ease forwards;
}
.footer-column ul li:nth-child(1) {
  animation-delay: 0.1s;
}
.footer-column ul li:nth-child(2) {
  animation-delay: 0.2s;
}
.footer-column ul li:nth-child(3) {
  animation-delay: 0.3s;
}
.footer-column ul li:nth-child(4) {
  animation-delay: 0.4s;
}
.footer-column ul li a {
  color: #bbb;
  text-decoration: none;
  position: relative;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}
.footer-column ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.14vw;
  width: 0%;
  height: 0.14vw;
  background-color: #4faaff;
  transition: width 0.3s ease;
}
.footer-column ul li a:hover {
  color: #4faaff;
  transform: scale(1.05);
}
.footer-column ul li a:hover::after {
  width: 100%;
}
.footer-bottom {
  text-align: center;
  padding-top: 1.5vw;
  border-top: 0.07vw solid #444;
  margin-top: 1.5vh;
  font-size: 1.0929696969696vw;
  color: #aaa;
  animation: fadeInUp 1s ease forwards;
}
.tern-footer {
  font-size: 1vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.tern-footer .footer-column h3 {
  font-size: 1.3vw;
}
.tern-footer .footer-quote {
  font-size: 0.95vw;
}
.tern-footer .footer-logo span {
  font-size: 1.5vw;
}
.tern-footer .btn-gradient {
  font-size: 1vw;
}
.tern-footer .footer-bottom {
  font-size: 0.9vw;
}
.landscapely,
.portraitly {
  display: none;
}
.landscapely {
  display: block;
}
#kmau {
  margin-top: 5vw;
  background-color: #fff;
  gap: 2.5vw;
  height: fit-content;
  z-index: 0;
}
.kmau-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5vw;
}
#kmau h1 {
  font-size: 4vw;
  font-family: "Playpen Sans Deva", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
#kmau h4 {
  font-family: "Heebo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2vw;
  color: #333;
}
.kmau-main {
  display: flex;
  flex-direction: row;
}
.founder-1,
.founder-2 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2.5vw;
  padding: 2.5vw;
  letter-spacing: 0.16vw;
}
.img-wrapper {
  position: relative;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-wrapper img {
  border-radius: 50%;
  width: 10vw;
  height: 10vw;
  z-index: 10;
}
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.img-wrapper::before,
.img-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-image: conic-gradient(
    from var(--angle),
    rgb(196, 18, 196),
    pink,
    yellow,
    blue,
    pink,
    darkblue,
    rgb(196, 18, 196)
  );
  animation: bdrdan 2.5s infinite linear;
  z-index: 1;
}
.img-wrapper::before {
  filter: blur(1.5vw);
}
.kmau-main-box-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37vw;
  height: 40vh;
}
.kmau-main-box {
  width: 38vw;
  background-color: #fcfcfc;
  height: 40vh;
  padding-bottom: 2vw;
  position: relative;
  z-index: 10;
  border-radius: 2vw;
}
.kmau-main-box-wrapper::before,
.kmau-main-box-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 2vw;
  background-image: conic-gradient(
    from var(--angle),
    rgb(196, 18, 196),
    pink,
    yellow,
    blue,
    pink,
    darkblue,
    rgb(196, 18, 196)
  );
  animation: bdrdan 2.5s infinite linear;
  z-index: 1;
}
.kmau-main-box-wrapper::before {
  filter: blur(1.5vw);
}
.kmau-main-box-h3 {
  font-size: 1.7vw;
  padding-block: 0.79vw;
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: bold;
  font-style: normal;
}
.kmau-main-box-p {
  font-size: 1.2vw;
  color: #444;
  padding-block: 1vw;
  line-height: 1.26;
}
.other-websites {
  width: 25vw;
  background-color: #fcfcfc;
  height: 25vh;
  box-shadow: 0 0 1vw grey;
}
.kmau-main-box-MYW {
  font-size: 1.7vw;
  font-family: "Noto Sans Myanmar", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}
.kmau-main-box-a {
  text-decoration: none;
  font-size: 1.7vw;
  color: #797979;
  display: block;
  text-align: center;
}
.our-projects {
  width: 25vw;
  background-color: #fcfcfc;
  height: 15vh;
  box-shadow: 0 0 1vw grey;
  display: block;
  margin-inline: auto;
  margin-top: 1vw;
  margin-bottom: 4vw;
}
.chapter {
  width: 100vw;
  height: fit-content;
  margin-top: 5vw;
  padding-left: 10%;
  padding-right: 10%;
}
.chapter h1 {
  font-size: 4vw;
  font-family: "DynaPuff", system-ui;
  font-weight: bold;
  text-align: center;
  line-height: 1.5;
  text-decoration: underline;
  margin-bottom: 2vw;
}
.chapter h2 {
  font-size: 2vw;
  font-weight: 800;
  margin-block: 1.2vw;
  color: rgba(255, 0, 0, 0.804);
}
.chapter h3 {
  font-size: 1.81vw;
  font-family: "Roboto Slab", serif;
  font-weight: 800;
  color: #4faaff;
}
.chapter span {
  font-weight: bold;
}
.chapter .landscapely,
.chapter .portraitly {
  font-weight: normal;
}
.chapter p {
  font-size: 1.5vw;
  margin-block: 1vw;
  line-height: 1.4;
}
.chapter .landscapely {
  font-size: 1.5vw;
}
.highlighted-span {
  background-color: rgba(234, 231, 231, 0.899);
}
.chapter .inv {
  font-size: inherit;
  margin-block: 1vw;
  line-height: 1.4;
  color: transparent;
  font-weight: normal;
  pointer-events: none;
}
.chapter .inv::selection,
.chapter .inv ::selection {
  background-color: transparent;
  color: transparent;
}
.frac {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  margin: 0 0.2vw;
}
.frac .num,
.frac .den {
  font-size: 1.2vw;
  height: fit-content;
  display: flex;
  align-items: center;
  font-weight: normal;
}
.frac .bar {
  width: 100%;
  height: 0.15vw;
  background: #000;
  margin: 0.15vw 0;
}
.number-line {
  position: relative;
  margin: 2.5vw 5vw 5vw 5vw;
  width: 35vw;
}
.line {
  height: 0.2vw;
  background: black;
  position: relative;
  top: 1.2vw;
}
.ticks {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.Tick,
.ticK {
  position: relative;
  background: black;
}
.Tick::before,
.ticK::after {
  position: absolute;
  background-color: transparent;
  color: black;
  font-size: 3vw;
  font-weight: 900;
}
.Tick::before {
  content: "<";
  translate: -0.1vw -1.05vw;
}
.ticK::after {
  content: ">";
  translate: -1.15vw -1.05vw;
}
.tick {
  position: relative;
  width: 0.3vw;
  height: 2vw;
  background: black;
  margin-top: 0.5vw;
}
.label-top {
  position: absolute;
  top: -2.5vw;
  left: -50%;
  font-size: 1.6vw;
}
.fraction {
  position: absolute;
  top: 2.5vw;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 1.6vw;
  line-height: 1;
  white-space: nowrap;
}
.fraction span:first-child,
.fraction span:last-child {
  display: block;
}
.fraction .bar {
  height: 0.2vw;
  background: black;
  margin: 0.2vw auto;
  width: auto;
}
.chapter table {
  font-size: 1.5vw;
  display: block;
  margin: 2.5vw auto;
  width: fit-content;
  background-color: black;
}
.chapter tr {
  width: fit-content;
  height: fit-content;
  gap: 1vw;
}
.chapter td {
  width: fit-content;
  height: fit-content;
  padding: 0.5vw;
  background-color: white;
  width: 6vw;
  height: 6vh;
}
.chapter .exp {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}
.chapter .exp div {
  width: fit-content;
  height: fit-content;
  text-align: center;
}
.fracs1 {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  vertical-align: middle;
  margin: 0 0.2vw 1.8vw 0.2vw;
  translate: 0 -0.35vw;
}
.fracs1 .num,
.fracs1 .den {
  font-size: 1.5vw;
  line-height: 1;
  margin-block: 0.25vw;
  display: flex;
  align-items: center;
  font-weight: normal;
}
.fracs1 .bar {
  width: 100%;
  height: 0.15vw;
  background: #000;
  margin-top: 0vw;
}
.fracs1half {
  margin: 0 0 1.8vw 0;
}
.chapter .fracs1e,
.chapter .fracs1es {
  position: relative;
  font-weight: normal;
}
.fracs1e .equals-sign {
  position: absolute;
  translate: -1.5vw 1vw;
  user-select: text;
}
.fracs1es .equals-sign {
  position: absolute;
  translate: -1.3vw 0.3vw;
  user-select: text;
}
.chapter ul li,
.chapter ol li {
  font-size: 1.5vw;
  margin-block: 1vw;
}
.table2 td {
  width: fit-content;
  text-align: center;
}
.table3 td {
  width: 25vw;
  text-align: center;
}
.table3 th {
  width: 25vw;
  text-align: center;
  background-color: whitesmoke;
}
.book {
  text-align: center;
  text-decoration: underline;
}
span.root-top {
  position: relative;
  font-weight: normal;
}
span.root-top::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.08625em;
  padding-left: 0.05em;
  translate: -0.05em 0;
  background-color: black;
  top: 10.5%;
}
.answer-btn {
  color: rgba(6, 197, 6, 0.954);
  font-size: 1.5vw;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}
.answer-btn::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0%;
  background-color: rgba(6, 197, 6, 0.954);
  transition: width 0.3s ease;
}
.answer-btn:hover::after {
  width: 100%;
}
.answer-btn:hover {
  color: #04aa04;
}
.answer-option {
  display: none;
  font-size: 1.5vw;
  color: blue;
  margin-top: 10px;
}
.p-center {
  text-align: center;
}
.division-frame {
  width: fit-content;
  margin-inline: 10%;
  font-family: Arial, sans-serif;
  font-size: 1.875vw;
  color: black;
  position: relative;
}
.division-frame .quotient {
  padding-left: 1.7vw;
}
.division-frame .horizontal {
  width: 10vw;
  height: 0;
  border-top: 0.3vw solid black;
}
.division-frame .vertical {
  height: fit-content;
  border-left: 0.3vw solid black;
  position: relative;
}
.division-frame .div-tick,
.division-frame .div-ticK {
  height: fit-content;
}
.division-frame .div-tick {
  border-bottom: 0.3vw solid black;
}
.division-frame .div-Tick,
.division-frame .div-Tick2 {
  position: absolute;
  top: -0.05vw;
  left: -2.9vw;
  text-align: right;
  border-bottom: 0.3vw solid black;
}
.division-frame .div-Tick {
  top: -0.05vw;
}
.division-frame .div-Tick2 {
  top: 5.4vw;
}
.division-frame .div-TickS {
  border: none;
}
@media (orientation: portrait) {
  html {
    scroll-padding-top: 10vw;
  }
  nav {
    height: 10vw;
  }
  .nav-menu {
    position: absolute;
    top: 10vw;
    right: -100vw;
    flex-direction: column;
    text-align: center;
    background-color: lavenderblush;
    width: 100vw;
    transition: all 0.3s linear;
    padding: 4vw 0;
  }
  .nav-menu.active {
    right: 0;
  }
  .nav-link {
    font-size: 4vw;
  }
  .nav-btn {
    width: 28vw;
    height: 10vw;
    font-size: 4vw;
    margin: auto;
    border-radius: 0 4vw;
  }
  .logo {
    width: 10vw;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    overflow: visible;
  }
  .bar {
    height: 1vw;
    width: 7vw;
    background-color: black;
    margin: 1vw 0;
    transition: all 0.3s linear;
    transform-origin: center;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(2.1vw, 2.1vw);
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(2.1vw, -2.1vw);
  }
  section {
    height: calc((100vh - 10vw) / 2);
  }
  #home,
  .floating-icons {
    height: calc((100vh - 10vw) / 2);
    margin-top: 10vw !important;
  }
  .head-text,
  .head-subtext {
    display: block;
    float: none;
  }
  .head-text {
    font-size: 7vw;
  }
  .head-subtext {
    padding-top: 1vw;
    font-size: 3.5vw;
    width: 60vw;
  }
  .floating-icons {
    top: -10vw;
    margin: 0;
  }
  .floating-icons span {
    font-size: 4vw;
  }
  #courses {
    height: calc((100vh - 10vw) * 2);
  }
  #about-us {
    height: calc((100vh - 10vw) / 2);
  }
  .about-content {
    padding: 0 10vw;
  }
  .about-content .about-h1 {
    font-size: 6vw;
  }
  .about-content p {
    font-size: 3.5vw;
    line-height: 4.5vw;
  }
  .animated-text {
    font-size: 5vw;
  }
  .shape1 {
    width: 17.5vw;
    height: 17.5vw;
  }
  .shape2 {
    width: 25vw;
    height: 25vw;
  }
  .shape3 {
    width: 12.5vw;
    height: 12.5vw;
  }
  #contact-us {
    height: calc(100vh - 10vw);
  }
  .log {
    margin-top: 10vw !important;
    height: calc(100vh - 10vw);
  }
  .grades {
    margin-top: 10vw;
  }
  .grades h1 {
    font-size: 7vw;
  }
  .header h1 {
    font-size: 8vw;
  }
  .sub-topics {
    font-size: 4vw;
  }
  .sub-heading {
    font-size: 5vw;
  }
  .landscapely {
    display: none !important;
  }
  .portraitly {
    display: block;
  }
  .pors1 .portraitly {
    display: inline;
  }
  .Maha-division {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: 4vw;
    gap: 16.68vw;
  }
  .tern-footer .footer-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 31vw;
  }
  .tern-footer .footer-column h3 {
    font-size: 5vw;
    width: fit-content;
  }
  .tern-footer .footer-bottom {
    font-size: 4vw;
  }
  .tern-footer .footer-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .tern-footer .footer-logo img {
    width: 15vw;
  }
  .tern-footer .footer-logo span {
    font-size: 7vw;
  }
  .tern-footer .footer-quote {
    font-size: 4vw;
    margin-bottom: 4.6vw;
    width: 80vw;
  }
  .footer-buttons {
    width: 44vw;
    justify-content: space-between;
  }
  .tern-footer .btn-gradient {
    font-size: 4vw;
  }
  .tern-footer .footer-bottom {
    font-size: 2.76vw;
  }
  .footer-column ul li {
    margin-block: 2.64vw;
  }
  #kmau {
    margin-top: 10vw;
  }
  #kmau h1 {
    font-size: 10vw;
  }
  #kmau h4 {
    font-size: 4vw;
    text-align: center;
    padding-bottom: 4vw;
  }
  .kmau-main img {
    width: 20vw;
    margin-block: 3vw;
  }
  .img-wrapper {
    width: 20vw;
    height: 20vw;
  }
  #kmau h1 {
    font-size: 7vw;
    margin-block: 3vw;
  }
  .founder-1,
  .founder-2 {
    width: 100vw;
    position: relative;
  }
  .kmau-main-box {
    height: 40vh;
    width: 80vw;
    padding: 5vw;
  }
  .kmau-main-box-wrapper {
    height: 40vh;
    width: 80vw;
    margin-block: 3.1vw;
  }
  .kmau-main-box-h3 {
    font-size: 3.5vw;
  }
  .kmau-main-box-p {
    font-size: 4vw;
  }
  .kmau-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .other-websites {
    width: 60vw;
    height: fit-content;
    padding: 2vw;
    margin: 2.4vw;
  }
  .kmau-main-box-a {
    font-size: 4vw;
  }
  .kmau-main-box-MYW {
    font-size: 5.14vw;
  }
  .our-projects {
    width: 60vw;
    padding: 2vw;
    margin: 2.4vw auto;
  }
  .chapter {
    margin-top: 10vw;
  }
  .frac {
    margin: 0 0.5vw;
  }
  .frac .num,
  .frac .den {
    font-size: 3.75vw;
    padding: 0.5vw;
    height: fit-content;
  }
  .frac .bar {
    height: 0.3vw;
    margin: 0.3vw 0;
  }
  .number-line {
    width: 65vw;
    margin: 4.125vw 8.25vw 8.25vw 8.25vw;
  }
  .label-top {
    font-size: 3vw;
    top: -4vw;
    left: -170%;
  }
  .fraction {
    font-size: 2.5vw;
    top: 3vw;
  }
  .fraction .bar {
    height: 0.3vw;
  }
  .chapter h1 {
    font-size: 10vw;
    margin-bottom: 2vw;
  }
  .chapter h2 {
    font-size: 7vw;
    margin-block: 1.2vw;
  }
  .chapter h3 {
    font-size: 6vw;
    margin-block: 1.5vw;
  }
  .chapter p {
    font-size: 5vw;
    margin-block: 2.5vw;
  }
  .chapter .portraitly {
    font-size: 5vw;
  }
  .chapter ul li,
  .chapter ol li {
    font-size: 5vw;
    margin-block: 2.5vw;
  }
  .chapter .answer-btn {
    font-size: 5vw;
  }
  .chapter table {
    font-size: 4vw;
    margin: 5vw auto;
  }
  .chapter td {
    width: 15vw;
    height: 10vh;
  }
  .fracs1 {
    margin: 0 0.2vw 1.8vw 0.2vw;
    translate: 0 -0.35vw;
  }
  .fracs1 .num,
  .fracs1 .den {
    font-size: 4vw;
    margin-block: 0.25vw;
  }
  .fracs1 .bar {
    height: 0.15vw;
  }
  .fracs1half {
    margin: 0 0 1.8vw 0;
  }
  .fracs1e .equals-sign {
    translate: -4vw 1.5vw;
  }
  .fracs1es .equals-sign {
    translate: -4vw 2.5vw;
  }
  .table2 td {
    width: 37.5vw;
    height: 7.5vw;
    font-size: 3.5vw;
  }
  .table3 th,
  .table3 td {
    width: 37.5vw;
    height: 7.5vw;
    font-size: 3.5vw;
  }
  .heading-sst {
    font-size: 4.5vw;
    margin-block: 2vw;
    margin-left: 1.5vw;
  }
  .division-frame {
    transform: scale(4);
  }
  .division-frame:nth-of-type(-n + 3) {
    margin: 20vw 35vw;
  }
  .division-frame:nth-of-type(4) {
    margin: 30vw 35vw;
  }
}
@media (orientation: portrait) and (max-width: 513px) {
  .head-text {
    font-size: 9vw;
  }
  .head-underline::after {
    height: 0.5vw;
  }
  .head-subtext {
    padding-top: 3.5vw;
    font-size: 5vw;
  }
  .about-content .about-h1 {
    font-size: 8vw;
  }
  .about-content p {
    font-size: 5vw;
    line-height: 7.5vw;
  }
  .header {
    min-height: 60vh;
  }
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-column {
    width: 100%;
    margin-bottom: 2.74vw;
  }
  .logo-quote-col {
    width: 100%;
  }
  .animated-text {
    font-size: 5vw;
  }
  #kmau h1 {
    font-size: 7vw;
    margin-block: 3vw;
  }
  .founder-1,
  .founder-2 {
    width: 100vw;
    position: relative;
  }
  .kmau-main-box,
  .kmau-main-box-wrapper {
    height: 45vh;
    width: 80vw;
  }
  .kmau-main-box {
    padding: 5vw;
  }
  .kmau-main-box-wrapper {
    margin-block: 3.1vw;
  }
  .kmau-main-box-h3 {
    font-size: 5vw;
  }
  .kmau-main-box-p {
    font-size: 4vw;
    line-height: 6vw;
  }
  .kmau-main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .other-websites {
    width: 60vw;
    height: fit-content;
    padding: 2vw;
    margin: 2.4vw;
  }
  .kmau-main-box-a {
    font-size: 4vw;
  }
  .kmau-main-box-MYW {
    font-size: 5.14vw;
  }
  .our-projects {
    width: 60vw;
    height: fit-content;
    padding: 2vw;
    margin: 2.4vw auto;
  }
}
